

<section class="mt-10 px-5 w-fi- mx-auto">
  <app-search-form
    [controler]="titleCtrl"
    header="All Posts"
    keyword="Articles"
  ></app-search-form>

  <h1 *ngIf="searchData.loading">Loading ...</h1>
  <h1
    *ngIf="!searchData.loading && resultSet.length === 0"
    lass="mt-10 text-6xl"
  >
    No Result
  </h1>
  <section *ngIf="resultSet.length > 0 && !searchData.loading">
    <div class="articles flex flex-col space-y-10 mx-auto w-fit mt-10">
      <app-article-preview
        *ngFor="let article of resultSet"
        [articel]="article"
      ></app-article-preview>
    </div>
    <div class="pagination py-10">
      <div class="flex items-center flex-1 justify-between">
        <button
          *ngIf="searchData.page != 1"
          (click)="movePage('PREV')"
          class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
        >
          Previous
        </button>
        <h1>{{ searchData.page }} of {{ searchData.totalPages }}</h1>
        <button
          *ngIf="searchData.page < searchData.totalPages"
          (click)="movePage('NEXT')"
          href="#"
          class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
        >
          Next
        </button>
      </div>
    </div>
  </section>
</section>
