<app-loading-spinner *ngIf="!article"></app-loading-spinner>
<section class="mt-10 px-5" *ngIf="article">
  <div class="">
    <h1 class="text-3xl underline underline-offset-8">Upload Article Image</h1>
    <app-upload-field
      title="Blog Profile Picture"
      imageFor="Blog Image"
      class="xl:col-span-2"
      [defaulSrc]="article.url"
      [maxSizeInMb]="2"
      [controler]="imageField"
    ></app-upload-field>
    <button
      class="block mx-auto text-xl mt-10 border-2 px-5 py-2"
      (click)="editImage()"
    >
      Upload Image
    </button>
  </div>
  <div class="mt-10">
    <h1 class="text-3xl underline underline-offset-8">Article Info</h1>
    <div class="grid grid-cols-2 gap-10">
      <!-- <app-input-field></app-input-field> -->
      <app-input-field
        placeholder="Enter Title"
        label="Title"
        type="text"
        [fieldControler]="form.controls.title"
      ></app-input-field>
      <app-input-field
        placeholder="Enter Slug"
        label="Slug"
        type="text"
        [fieldControler]="form.controls.slug"
      ></app-input-field>
      <app-input-field
        placeholder="Enter Description"
        label="Description"
        type="placeholder"
        [fieldControler]="form.controls.description"
      ></app-input-field>
      <app-input-field
        placeholder="Enter Reading Time"
        label="Reading Time In Minuts"
        type="number"
        [fieldControler]="form.controls.readingTime"
      ></app-input-field>
      <div class="col-span-2">
        <h1 class="text-3xl underline underline-offset-8">Article Tags</h1>
        <app-related-tags-check-field
          resourceName="Related Topics"
          [addedResources]="form.controls.tagsToAdd"
          [preloaded]="article.relatedTags"
          [removedResources]="form.controls.tagsToRemove"
        >
        </app-related-tags-check-field>
      </div>

      <button
        class="block mx-auto text-xl mt-10 border-2 px-5 py-2 col-span-2"
        (click)="editArticleContent()"
      >
        Edit Article Content
      </button>

      <div class="col-span-2">
        <h1 class="text-3xl underline underline-offset-8 mb-10">
          Article Content
        </h1>
        <app-article-content [controler]="contentField"></app-article-content>
      </div>
      <button
        class="block mx-auto text-xl mt-10 border-2 px-5 py-2 col-span-2 mb-10"
        (click)="editArticleMarkdown()"
      >
        Edit Article Markdown
      </button>
    </div>
  </div>
  <app-toast *ngIf="toastInfo" [type]="toastInfo.type" (close)="closeToast()">
    <h1 *ngIf="toastInfo.type === 'SUCCESS'">
      <a [routerLink]="['/', 'blogs', toastInfo.data]"
        >Click Hre to View Article
      </a>
    </h1>
    <h1 *ngIf="toastInfo.type === 'ERROR'">
      {{ toastInfo.data }}
    </h1>
  </app-toast>
</section>
