<div
  class="blog-content-container w-full border-2 border-gray-500 rounded pb-5"
>
  <ul class="flex justify-center space-x-5">
    <li class="blog-content-link" (click)="showBlogMarkdown()">
      Blog MarkDown
    </li>
    <li class="blog-content-link" (click)="showPreview()">HTML Preview</li>
  </ul>

  <textarea
    [ngClass]="currentPage === 'BlogMarkdown' ? 'block' : 'hidden'"
    (input)="onChangeHandler($event)"
    [formControl]="controler"
    (keydown)="onKeyDown($event)"
    class="mt-10 w-11/12 min-h-[50rem] mx-auto text-black text-xl outline-none px-1"
  ></textarea>
  <markdown
    [ngClass]="currentPage === 'MarkdownPreview' ? 'block' : 'hidden'"
    [data]="controler.value"
    class="prose prose-indigo dark:prose-invert max-w-none w-11/12 mt-10 min-h-[50rem] font-blog mx-auto outline-none p-5"
  >
  </markdown>
  <div class="mt-3 text-center" *ngIf="controler.hasError && controler.touched">
    <p class="text-red-600 w-full" *ngIf="controler.hasError('required')">
      This Field is Required
    </p>
    <p class="text-red-600 w-full" *ngIf="controler.hasError('minlength')">
      mininum char in this field is
      {{ controler.getError("minlength")["requiredLength"] }} but only
      {{ controler.getError("minlength")["actualLength"] }} char was there
    </p>
  </div>
</div>
