<article
  class="flex lg:flex-row overflow-hidden flex-col bg-gray-200 max-w-[60rem] w-full dark:bg-darkerBlue/80 shadow-lg rounded"
>
  <div class="order-2 flex flex-col items-start px-5 py-10 basis-8/12">
    <a
      [routerLink]="['/', 'blogs', article.slug]"
      class="hover:underline underline-offset-4"
    >
      <h1 class="text-4xl font-extrabold tracking-tight">
        {{ article.title | titlecase }}
      </h1></a
    >
    <h2 class="text-lg font-bold mt-2 text-black dark:text-gray-500">
      {{ article.createdAt | date : "MMMM d, yyyy " }}
    </h2>
    <p class="line-clamp-3 mt-3 text-lg">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum provident,
      laboriosam obcaecati hic sit nostrum fugiat magnam officia fugit suscipit
      consectetur voluptate temporibus fuga vero dignissimos! Id possimus
      aliquid sed!
    </p>
    <div class="flex flex-wrap mt-3">
      <app-tag-pill
        class="mr-5 mt-2"
        *ngFor="let tag of article.relatedTags"
        [tag]="tag"
      ></app-tag-pill>
    </div>
    <a [routerLink]="['/', 'blogs', article.slug]" class="block mt-5"
      >Read More -></a
    >
  </div>
  <div class="flex order-1 lg:order-3 basis-full lg:basis-4/12">
    <img
      class="w-full sm:h-[15rem] md:h-[10rem] object-center lg:h-full"
      [src]="article.url"
    />
  </div>
</article>
