<app-loading-spinner *ngIf="!article"></app-loading-spinner>
<article *ngIf="article" class="px-6 mt-10">
  <!-- Meta Data -->
  <div class="flex flex-col lg:flex-row">
    <!-- -------------- Article Info----------------- -->
    <div class="flex order-2 flex-col space-y-5 basis-8/12">
      <h1 class="text-4xl font-bold">{{ article.title }}</h1>
      <p class="text-gray-600 text-xl font-semibold">
        <img src="../../../../assets/icons/time.svg" class="inline w-8 mr-2" />
        {{ article.createdAt | date : "MMMM, dd ,yyyy" }}
      </p>
      <p class="text-gray-600 text-xl font-medium">
        <img src="../../../../assets/icons/book.svg" class="inline w-8 mr-2" />
        {{ article.readingTime }} Minutes Reading Time
      </p>
      <!-- Social Media Links -->
      <ul class="flex">
        <li class="nav-social-media">
          <a href="https://github.com/ismailbagga" target="_blank">
            <img
              src="./assets/social-media-links/github.png"
              alt="github"
              srcset=""
            />
          </a>
        </li>
        <li class="nav-social-media">
          <a href="https://www.linkedin.com/in/ismail-bagga" target="_blank">
            <img
              src="./assets/social-media-links/linkedin.png"
              alt="linkedin"
              srcset=""
            />
          </a>
        </li>
        <li class="nav-social-media">
          <a href="https://twitter.com/bagga_ismail" target="_blank">
            <img
              src="./assets/social-media-links/twitter.png"
              alt="twitter"
              srcset=""
            />
          </a>
        </li>
      </ul>
      <!-- Tags  -->
      <ul class="flex flex-wrap">
        <li *ngFor="let tag of article.relatedTags" class="mr-5 mt-5">
          <app-tag-pill [tag]="tag"></app-tag-pill>
        </li>
      </ul>
    </div>
    <!-- -------------- Image Wrapper----------------- -->
    <div
      class="basis-4/12 order-1 mb-10 lg:mb-0 lg:order-3 h-fit rounded shadow-xl"
    >
      <img [src]="article.url" class="w-full aspect-video" />
    </div>
  </div>
  <main
    class="mt-16 w-11/12 mx-auto bg-gray-100 dark:bg-transparent dark:shadow-2xl shadow px-5 py-10"
  >
    <markdown
      class="prose dark:prose-invert"
      [data]="article.content"
    ></markdown>
  </main>

  <app-article-arrow
    [nextArticle]="article.nextArticle"
    [prevArticle]="article.prevArticle"
  ></app-article-arrow>
</article>
