<form action="" class="" (submit)="onSubmit($event)">
  <!--  ------------------ Label    ------------------------------>
  <h1
    class="text-5xl text-center lg:text-start font-extrabold leading-[3.5rem]"
  >
    <span class="underline">Subscribe</span> now <br />To get notify when
    <br />
    <span>Article</span> is uploaded
  </h1>
  <div
    class="input-contaienr mx-auto lg:mx-0 mt-5 w-fit rounded-xl border-0 dark:border-darkerBlue"
  >
    <input
      [formControl]="emailCtrl"
      class="text-center sm:text-start border-2 outline-none h-10 text-black px-5 placeholder:text-gray-700"
      placeholder="Please Enter Your Email here"
    />
    <button
      class="block mx-auto lg:mx-0 bg-black text-white dark:bg-white dark:text-black rounded hover:bg-black/90 px-5 mt-3 h-10 text-md font-semibold"
    >
      Subscribe
    </button>
  </div>
  <div
    class="errors text-center lg:text-start text-red-700 mt-5"
    [ngClass]="
      emailCtrl.errors && emailCtrl.dirty && emailCtrl.touched
        ? 'visible'
        : 'invisible'
    "
  >
    <p *ngIf="emailCtrl.hasError('required')">Please Enter You Email</p>
    <p *ngIf="emailCtrl.hasError('email')">Please Enter A Valid Email</p>
  </div>
</form>
