<div class="mt-5">
  <label for="password" class="text-sm font-medium">{{ label }}</label>

  <div class="relative mt-1">
    <textarea
      *ngIf="type === 'placeholder'; else ifNotPlaceholder"
      [formControl]="fieldControler"
      class="w-full rounded-lg text-black border-gray-200 p-3 text-sm"
      placeholder="Message"
      rows="8"
      id="message"
    ></textarea>
    <ng-template #ifNotPlaceholder>
      <input
        [formControl]="fieldControler"
        [type]="type"
        class="w-full rounded-lg text-black border-gray-200 p-4 pr-12 text-sm shadow-sm"
        [placeholder]="placeholder"
      />
    </ng-template>
    <ng-content></ng-content>
  </div>
  <div
    class="errors mt-1"
    *ngIf="fieldControler.errors && fieldControler.touched"
  >
    <p class="text-red-600" *ngIf="fieldControler.hasError('required')">
      Field Is Required
    </p>
    <p class="text-red-600" *ngIf="fieldControler.hasError('email')">
      Enter A Valid Email
    </p>
    <p class="text-red-600" *ngIf="fieldControler.hasError('pattern')">
      Invalid Pattern
    </p>
    <p class="text-red-600 w-full" *ngIf="fieldControler.hasError('minlength')">
      mininum char in this field is
      {{ fieldControler.getError("minlength")["requiredLength"] }} but only
      {{ fieldControler.getError("minlength")["actualLength"] }} char was there
    </p>
    <p class="text-red-600 w-full" *ngIf="fieldControler.hasError('min')">
      mininum value is
      {{ fieldControler.getError("min")["min"] }} but value entered is
      {{ fieldControler.getError("min")["actual"] }}
    </p>
  </div>
</div>
