<!--  - ---------------------Landing Page  ---------------------------->
<section class="landing mt-10 px-5 flex flex-col lg:flex-row justify-between">
  <!-- --------------------- Subscription Form  -------------------------   -->
  <app-subscription-form
    class="mt-10 lg:mt-0 lg:basis-1/2"
  ></app-subscription-form>
  <!-- Intrudcing MySelf Panel -->
  <div class="flex -order-1 lg:order-10 flex-row justify-center basis-1/2">
    <div class="shadow-xl w-full rounded">
      <div class="flex flex-row space-x-10 justify-center items-center w-full">
        <h1 class="text-3xl font-bold">Hi There !</h1>
        <img src="./assets/icons/hi.gif" class="w-32" />
      </div>
      <p class="px-4 text-lg font-semibold">
        Im <a class="text-blue-700">Ismail</a> from Morroco and i'm a Growing
        Web/Mobile Developer , Java and & Competitive Programming ❤! , and i
        really enjoy learning new concepts and technologies , and building
        modern frontend web applications with Angular and React and backend
        application with Spring Boot and Django , also Developing Mobile
        Application with Flutter You can Reach Me Here :
      </p>
      <ul class="flex justify-center items-center py-5">
        <li class="nav-social-media">
          <a href="mailto:ismailbak7@gmail.com" target="_blank">
            <img
              src="./assets/social-media-links/gmail.png"
              alt="github"
              srcset=""
            />
          </a>
        </li>
        <li class="nav-social-media">
          <a href="https://github.com/ismailbagga" target="_blank">
            <img
              src="./assets/social-media-links/github.png"
              alt="github"
              srcset=""
            />
          </a>
        </li>
        <li class="nav-social-media">
          <a href="https://www.linkedin.com/in/ismail-bagga" target="_blank">
            <img
              src="./assets/social-media-links/linkedin.png"
              alt="linkedin"
              srcset=""
            />
          </a>
        </li>
        <li class="nav-social-media">
          <a href="https://twitter.com/bagga_ismail" target="_blank">
            <img
              src="./assets/social-media-links/twitter.png"
              alt="twitter"
              srcset=""
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Articles Preview By Tags  -->

<section id="articles-preview-by-tags" class="mt-5 px-5">
  <nav class="">
    <ul class="flex flex-wrap justify-center">
      <li>
        <app-tag-check-button
          [tag]="latestTag"
          [isChecked]="tagsToSearchFor.has(latestTag.id)"
          (onCheckBtnClicked)="addTag($event)"
        ></app-tag-check-button>
      </li>
      <li *ngFor="let tag of tags">
        <app-tag-check-button
          [tag]="tag"
          [isChecked]="tagsToSearchFor.has(tag.id)"
          (onCheckBtnClicked)="addTag($event)"
        ></app-tag-check-button>
      </li>
    </ul>
  </nav>
  <div class="articles flex flex-col space-y-10 w-fit mx-auto mt-10">
    <app-article-preview
      *ngFor="let article of filteredArticles"
      [articel]="article"
    ></app-article-preview>
  </div>
</section>
