<!--  - ---------------------Landing Page  ---------------------------->
<section class="landing mt-10 px-5 flex flex-col lg:flex-row justify-between">
  <!-- --------------------- Subscription Form  -------------------------   -->
  <app-subscription-form
    class="mt-10 lg:mt-0 lg:basis-1/2"
  ></app-subscription-form>
  <!-- Intrudcing MySelf Panel -->
  <div class="flex -order-1 lg:order-10 flex-row justify-center basis-1/2">
    <div class="w-full h-56 shadow-xl bg-pink-400 rounded"></div>
  </div>
</section>

<!-- Articles Preview By Tags  -->

<section id="articles-preview-by-tags" class="mt-5">
  <nav class="">
    <ul class="flex flex-wrap justify-center">
      <li *ngFor="let tag of tags">
        <app-tag-check-button
          [tag]="tag"
          [isChecked]="tagsToSearchFor.has(tag.id)"
          (onCheckBtnClicked)="addTag($event)"
        ></app-tag-check-button>
      </li>
    </ul>
  </nav>
</section>
