<!--  - ---------------------Landing Page  ---------------------------->
<section class="landing mt-10 px-5 flex flex-col lg:flex-row justify-between">
  <!-- --------------------- Subscription Form  -------------------------   -->
  <app-subscription-form
    class="mt-10 lg:mt-0 lg:basis-1/2"
  ></app-subscription-form>
  <!-- Intrudcing MySelf Panel -->
  <div class="flex -order-1 lg:order-10 flex-row justify-center basis-1/2">
    <div class="w-full h-56 shadow-xl bg-pink-400 rounded"></div>
  </div>
</section>
